<html>

<head>
    <title>RC</title>
    <style>
        button {
            height: 60px;
            width: 60px;
            font-size: 24pt;
        }
    </style>
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <button id="btnTL">↖️</button>
                </td>
                <td>
                    <button id="btnT">⬆️</button>
                </td>
                <td>
                    <button id="btnTR">↗️</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="btnL">⬅️</button>
                </td>
                <td></td>
                <td>
                    <button id="btnR">➡️</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="btnBL">↙️</button>
                </td>
                <td>
                    <button id="btnB">⬇️</button>
                </td>
                <td>
                    <button id="btnBR">↘️</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<script src="{{url_for('static', filename='index.js')}}"></script>
<script src="{{url_for('static', filename='movement.js')}}"></script>
<script src="{{url_for('static', filename='horn.js')}}"></script>

</html>